.pdf-container,
.pdf-container * {
    padding: 0 !important;
    margin: 0 !important;
}

.react-pdf__Page {
    margin: 0 !important;
}

.react-pdf__Page__canvas {
    display: block !important;
    width: 100% !important;
    height: auto !important;
}
